/* **********************************
------ MEDIA QUERY MOBILE -----
********************************** */
@media screen and (max-width: 640px) {
  
    /*---  HOMEPAGE ---*/
    .spazioHome{
        display: block;
    }
    .imgMain{
        width: 100%;
        height: 57vh;
    }
    .dentroImgHome{
        height: 100%;
        display: block;
    }
    .sopraImgHome1{
        padding: 0;
    }
    .logoSopraHome{
        width: 33vh; 
        position: relative;
        margin: 0 auto;
        
    }
    .logoSopraHome2{
        width: 25vh; 
        position: relative;
        margin: 0 auto;   
    }

.quadratiHome{
    min-width: 100%;
}
    .quadratiHomeFlex{
        min-width: 100vw;
        height: 40vh;
       display: flex;

     }
   .Quad-portfolio{
        width: 33.3vw;
        height: 40vh;
        }
      .Quad-location{
            width: 33.3vW;
            height: 40vh;
            }
       .Quad-Moreinfo{
            width: 33.4vW;
          height: 40vh;
         }
    .scrittaQuadrati{
        
        font-size: 14px;
    }

 /*--- PAGINA PORTFOLIO ---*/

 .imgLavori{
    margin-bottom: 30px;
    height: auto;
   }
   
   .cont-desc-Lavori{
       display: flex;
       justify-content: center
   }
   .logoPortfolio {
       width: 50%;
       text-align: center;
   }
   .logoPortfolio img{
       width: 80%;
       margin-top: 50%;
   }
   .descrizione-lavori{
    font-size: 14px;
       width: 54%;
       margin-top: 40px;
       text-align: center;
   }

   #icon-Port{
    font-size: 35px;
    margin-right: 14px;
    margin-top: 10px;
    color: white;
   }
   #icon-Port2{
       font-size: 35px;
       margin-left: 14px;
       margin-top: 10px;
       color: white;
   }

 /* --- GALLERIA --- */
    .FotoGall1{
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 20px;
            width: 28%;
            height: 24%;
            cursor: pointer;
          }








          .locationTop{
            background-position-x: -90px;
        }





/* ******************** */
/* PAGINA LOCATION */
/* ********************** */
.location-page{
    width: 100%;
    height: 100%;
 background-color: rgb(172, 76, 76);
color: aliceblue;
font-size: 24px;
overflow: hidden;
background-image: var(--img-location-sfondo);
background-repeat: no-repeat;
background-size: cover;

}

.locationTop{
    height: 60vh;
    width: 100%;
    background-image: url('../../public/img/locationPage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
        
    }

    .logoLocation{
        margin-top: 34px;
     width: 100%;
     text-align: center;
    }
    .logoLocation img{
       width: 280px;
    }






/* ----- FOOTER ----- */
    .scrittaIcon{
        display: none;
    }
    .F-space1{
        position: relative;
        right: 25px;
    }
    .F-space3{
        position: relative;
        left: 27px;
        bottom: 4px;
    }
    .F-space3 p{
       font-size: 8px;
    }

    } /* FINE MEDIA QUERY MOBILE*/